Flask==3.0.3
gunicorn==22.0.0

# Google Cloud Vision
google-cloud-vision==3.7.2
google-api-core==2.18.0
google-auth==2.29.0
googleapis-common-protos==1.63.0
grpcio==1.62.2
grpcio-status==1.62.2
proto-plus==1.23.0
protobuf==4.25.3
rsa==4.9
cachetools==5.3.3
pyasn1==0.6.0
pyasn1_modules==0.4.0

# HTML parsing & requests
requests==2.31.0
beautifulsoup4==4.12.3
soupsieve==2.5

# Environment management
python-dotenv==1.0.1
urllib3==2.2.1
